@page
@model CRJ_Shop.Pages.Products.Index

@{
}

<h1 class="text-left container my-5 fw-bold">Our products</h1>

<div class="container my-5">
    @* check if you are logged in as admin *@
    @* @if (User.IsInRole("admin")) *@
    <a asp-page="/products/create" class="btn btn-success ">Create new product</a>
    
    <div class="my-5">
        <h4 class="fw-bold">Filter:</h4>
        <div class="d-flex gap-2">
            <select class="form-select w-25" aria-label="Select color">
                <option selected disabled>Color</option>
                <option>Red</option>
                <option>Blue</option>
                <option>Black</option>
            </select>
            <select class="form-select w-25">
                <option selected disabled>Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
        </div>
    </div>
    <div class="row">
        @foreach (var product in Model.ProductList)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="card h-100 pb-2">

                    <a asp-page="/products/product" asp-route-id="@product.Id" class="card-body text-black text-decoration-none">
                        <img src="@(!string.IsNullOrEmpty(product.Image) ? product.Image : "https://placehold.co/600x400")" class="w-100 mb-2" alt="Example image" />
                        <img src="" class="w-100 mb-2" alt="Example image"/>
                        <h4 class="fw-bold h6">@product.Name</h4>
                        <div class="text-truncate">@product.Description</div>
                    </a>
                    
                    @* @if(!User.IsInRole("admin")) *@
                    <div class="px-3 d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-dark py-1 h6 px-2 rounded-3 mt-1 mb-2">Add to cart</button>
                        <span class="h5 fw-bold">@product.Price SEK</span>
                    </div>

                    @* @if (User.IsInRole("admin")) *@
                    <div class="d-flex flex-column gap-2 px-3">
                        <a asp-page="/products/edit" asp-route-id="@product.Id" class="btn btn-secondary">Edit</a>
                        <a asp-page="/products/details" asp-route-id="@product.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-page="/products/delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>