@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to our website";
}

<body>
    <header>
        <div class="site-title">
            <h1>Welcome to our webshop</h1>
        </div>
        
    </header>
</body>


<div class="container-fluid">
    <div class=" row">
    @foreach(var product in Model.Products)
    {
        <div class="col-3">
            <div class=" card h-100">
                <a class="card text-black text-decoration-none h-100 d-flex flex-column align-content-center" asp-page="/Products/Product" asp-route-id="@product.Id"> 
                        <img class="w-100" src="@product.Image" />
                        <h2 class="h5">@product.Name</h2>
                        <h5 class="fw-bold font-monospace">@product.Price SEK</h5>
                        <h4 class="text-truncate h6">@product.Description</h4>
                </a>
            
            </div>
        </div>
        }
        <form method="post">
            <button class="w-25 mx-auto my-5 btn btn-primary d-flex justify-content-center" type="submit">
                Load more products
            </button>
        </form>
        
        </div>


</div>

<footer>
    <nav>
        <ul>
            <li class=" display-6 "><a href="#">Home</a></li>
            <li class=" display-6 "><a href="#">About Us</a></li>
            <li class=" display-6 "><a href="#">Contact</a></li>
        </ul>
    </nav>
</footer>